body, html {
    margin: 0;
    padding: 0;
    background-color: #302406;
}

h1 {
    display: flex;
    justify-content: center;
}

#homeImg {
    text-align: center;
    width: 275px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

a {
    color: brown;
    text-decoration: none;
    border-bottom: solid 1px transparent;
    padding: 0;
    margin: 0;
}

a:hover {
    border-bottom: solid 1px #c9dfbf;
}

p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    text-align: justify;
    background-color: burlywood;
    height: 300px;
}

.headMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    height: 40px;
    font-size: 20px;
}

#headMenuElement {
    padding: 0 5px;
    margin: 0 20px;
    color: #c9dfbf;
}

.artistBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.secondFooter {
    background-image: url(shutterstock_176264717.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    text-align: center;
    background-color: red;
    height: 300px;
}

footer {
    color: white;
    display: flex;
    flex: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    height: 40px;
}

button {
    cursor: pointer;
}

.contactBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 20px;
    background-color: lightgray;

}

#contactButton {
    width: 100px;
    margin: 10px 0;
    padding: 10px;
}

#contactInput {
    height: 30px;
}

#artistGrid {
    margin: 5px;
    display: grid;
    place-content: center;
    text-align: center;
    gap: 35px;
    grid-template-columns: repeat(4,25%);
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

/* ADD COMMAND TO LOCK DIMENSIONS FOR MOBILE VIEWING TOO */

.staffImg {
    width: 200px;
}

#contactButtonHome {
    margin-bottom: 20px;
}

#descriptionHome {
    display: flex;
    flex-direction: column;
    color: #efb000;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
}

#backImg {
    text-align: center;
    background-color: red;
    width: 700px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.staffPortButton {
    border-radius: 15px;
}

.staffPortButton:hover {
    background-color: orange;
}

#studioEmail {
    color: #c9dfbf
}